@import "base";
body{font-family:"Microsoft YaHei";}
#indexBox{
	border-bottom: 1px solid #e5e5e5;
	background-color: #f4f4f4;
	line-height: 30px;
	.index{

		font-weight:550;
		font-family:"微软雅黑";
		margin: 0 auto;
		width: 1206px;
		.index-left{
			float:left;
			.index-ul{
				li{
					float:left;
					padding-right:24px;
					a{
						div{float:left;}
						div:nth-child(1){margin-top:2px;}
						div:nth-child(2){margin-left:6px;}
					}
				}

			}
		}
		$color:#ff4040;
		.index-right{
			float:right;
			.index-right-ul{
				width:352px;
				li{float:left;
					div{float: left}
				}
				.li1{float:left;
					.text{
						div:nth-of-type(1){color:$color;}
						div:nth-of-type(2) a{
							color:$color;
							&:hover{text-decoration:none;};
						}
						div:nth-of-type(3){
							margin-left:12px; 
							a{
								color:#aaaaaa;
								&:hover{color:$color;text-decoration: none}
							}
						}
					}
				}
				.li2{
					margin:0 12px 0 20px;
					div:nth-of-type(1){margin:2px 2px;height:28px;}
					div:nth-of-type(2){
						a{
							color:#aaaaaa;
							&:hover{color:$color;text-decoration: none}
						}
					}
				}
				.li3{
					&:hover{color:$color;}
					padding: 0 14px 1px;
					.li3-span{
						margin-right:6px;
						color:#aaaaaa;
							a:hover{color:$color;text-decoration: none}
						.hidden{
							border:1px solid #ddd; 
							display:none;
							z-index:10; 
							position: absolute;
							top:-2px;
							right:13.2%;
							width:88px;
							height:100px;
							ul,li{clear:both;height:30px;width:100px;}
							ul li:nth-child(2),li:nth-child(3){background:#fff;width:88px;
								a{padding-left: 12px}
							}
							ul li:nth-child(3){height:40px;}

						}
					}
				}
				.li4{
					div:nth-child(2){
						a{&:hover{color:$color;text-decoration: none}}
					}
					margin-left: 12px;
					.li4-icon{margin:4px 10px 0 -2px;}
					.li4-code{
						display:none;
						width:90px;
						height:130px;
						padding:10px;
						position:absolute;
						z-index:30;
						top:34px;
						right:6%;
						background:#fff;
						border:1px solid #ddd;
						div:nth-of-type(1){
							width:90px;
							height:40px;
							line-height:20px;
							text-align: center
							
						}
						div:nth-of-type(2){
							width:90px;
							height:90px;
							img{width:100%;}
						}
					}
				}
			}
		}
	}
}
#searchBox{
	.height{
		height:138px;
	}
	.search{
		width:1230px;
		margin:auto;
		.logo{
			width:78px;
			height:72px;
			float:left;
			margin:24px 66px 14px;
		}
		.seek{
			width:754px;
			float:left;
			margin:32px 32px 0;
			.seek-top{
				width:750px;
				height:36px;
				border:2px solid red;
				#text{
					float:left;
					width:684px;
					height:36px;
					border:none;
					padding-left:16px;
				}
				#seekBtn{
					cursor: pointer;
					width:50px;
					height:36px;
					float:right;
					background:url(../images/index/seek.jpg) no-repeat center red;
					border:none;
				}
			}
			.seek-keyWord{
				height:38px;
				line-height:38px;
				margin-left:4px;
				a{
					margin-right: 6px;color:#aaa;
					&:hover{color:#ff4040;text-decoration: none}
				}
			}
		}
		.shopCart{
			margin:32px 14px;
			width:84px;
			height:38px;
			line-height:38px;
			float:right;
			border:1px solid #aaa;
			padding:0 24px;
			a{	
				display:block;
				height:38px;
				width:112px;
				div{float:left;}
				div:nth-child(1){margin:4px 16px 0 0;}
				color:#666;
				font-size:16px;
			}
		}
	}
}
#banBox{
	width:1406px;
	position:relative;
	ol{
		position:absolute;
		top:268px;
		right:420px;
		z-index:30;
		li{
			width:110px;
			height:36px;
			float:left;
			font-size:14px;
			margin-right: 10px;
    		display: inline-block;
    		overflow: hidden;
    		background: #fff;
    		text-align: center;
    		color: #333;
		    line-height: 40px;
		    cursor: pointer;
		}
		.active{
			background-color: #333;
			color: #fff;
		}
	}
	ul{
		width:7116px;
		position: absolute; 
		top: 0; left: 0; 
		z-index: 1; 
		li{
			float: left;
			a{
				width:1423px;
				display:block;
				img{width:100%}
			}
		}
	}
}
#sdb{
	position:relative;
	z-index:32;
	top:0px;
	left:10%;
	.sdb-left{
		float:left;
		background:#48403d;
		text-align: center;
		ul{
			li{
				width:118px;
				height:34px;
				line-height:34px;
				border:1px solid #48403d;
				border-right:1px solid #48403d;
				&:hover{
					background:#fff;
					border-right:1px solid #fff;
				}
				a{
					width:80px;
					margin-left: 20px;
					font-family:"微软雅黑";
					font-size:14PX;
					display:block;
					border-bottom:1px solid #504841;
					color:#fff;
					&:hover{color:#000;text-decoration: none}

				}
			}
		}
	}
	.sdb-right{
		display:none;
		position:absolute;
		left:120px;
		z-index:100;
		border:1px solid #948366;	
		border-left:1px solid #fff;
		background:#fff;
		float:left;
		padding:5px 24px;
		height:366px;
		.sdb-right-row{
			float:left;
			.item{
				width:210px;
				padding:6px 0 6px;
				dt{
					width:185px;
					height:30px;
					line-height:30px;
					color:#000;
					font-weight: 900;
					border-bottom: 1px solid #ddd;
				}
				dd{
					width:90px;
					height:24px;
					line-height:24px;
					float:left;
					a{
						color:#333;
					}
				}
			}
		}
	}
}
#contBox{
	margin-top:-28px;
	padding-top:50px;
	background:#f3f3f3;
	.cont{
		width:1230px;
		margin:0 auto;
		.title{
			font-weight: 900;
			margin-bottom:16px;
			color:#645144;
			.title-l{
				font-size:24px;
				float:left;
			}
			.title-r{
				float:right;
				p{
					height:30px;
					line-height: 30px;
					float:left;
				}
				p:nth-child(2){margin-left:16px;}
				p:nth-child(3){margin-left:8px;}
			}
		}
		.goods{
			.global{
				
				.goods_item{
					&:hover .goods_pic{
						transform:translate(0, -10px);
						}
					position:relative;
					float:left;
					background-color: #fff;
					width: 178px;
					margin: 0px 1px 1px 0;
					padding: 0 33px;
					.goods_pic{
						position: relative;
						width: 180px;
						height: 180px;
						margin: 20px 0 0;
						a{display:block;}
						transition:transform .2s linear;
					}
					.goods_title{
						line-height: 16px;
						margin-top: 13px;
						p{
							font-size: 14px;
							font-family: 'Microsoft YaHei';
							text-align: center;
						}
						p:nth-child(1){
							height: 32px;
							line-height: 16px;
							margin-top: 13px;
							overflow: hidden;
						}
						p:nth-child(2){
							color: #ed1b2f;
							font-size: 16px;
							margin: 13px 0;
						}
						p:nth-child(3){
							height: 14px;
							font-family: 'Century Gothic';
							line-height: 14px;
							
						}

					}
					.sc{
						position: relative;
						text-align: center;
						padding-top: 10px;
						padding-bottom: 20px;
						p{
							cursor: pointer;
							display: inline-block;
							font-size: 14px;
							width: 110px;
							height: 30px;
							line-height: 30px;
							background-color: #fe5656;
							border-radius: 15px;
							color: #fff;
							font-family: 'Microsoft YaHei';
							text-align: center;
						}
					}
				}
			}
			.brand-title{
				margin-top:80px;
			}
			.brand{
				li{
					position:relative;
					float:left;
					width: 236px;
					padding-right: 12px;
					padding-bottom: 12px;
					a{
						display: block;
						position: relative;
						width: 236px;
						height: 360px;
						img{
							width: 100%;
							height: 100%;
						}
					}
					.infor{
						position: absolute;
						bottom: 19px;
						left: 27px;
						width: 168px;
						height: 68px;
						padding: 10px;
						color: #fff;
						text-align: center;
						cursor: pointer;
						span{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: #48413e;
							opacity: .90;
						}
						.title-h3{
							position: relative;
							z-index: 1;
							height: 22px;
							overflow: hidden;
							margin-top: 5px;
							font: normal 16px/20px Microsoft YaHei;
							line-height: 20px;
							white-space: nowrap;
							text-overflow: ellipsis;		
						}
						.line{
							display: block;
							position: relative;
							z-index: 1;
							width: 38px;
							height: 2px;
							overflow: hidden;
							margin: 9px auto;
							background-color: #ffe3c9;
						}
						.descrip{
							position: relative;
							z-index: 1;
							height: 20px;
							overflow: hidden;
							font: normal 14px/20px Microsoft YaHei;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
					}
				}
			}
		}
	}
}
#moreBox{
	background:#f3f3f3;
	padding-bottom: 24px;
	.more{
		width:1230px;
		margin:0 auto;
		.title{
			font-weight: 900;
			padding:100px 0 16px;
			margin-bottom:-50px;
			color:#645144;
			font-size:24px;
		}
		.import{
			margin-top:50px;
			background:#fff;
			.pic{
				float:left;
				a{
					display:block;
					width:245px;
					height:462px;
					img{width:100%;height:100%;}
				}
			}
			.center{
				float:left;
				ul{
					width:738px;
					li{
						float:left;
						&:hover .imag{
							transform:translate(-10px,0);
						}
						.more-goods{
							width: 205px;
							height: 190px;
							padding: 20px;
							border-top: 1px solid #f3f3f3;
							border-left: 1px solid #f3f3f3;
							.more-title{
								height: 20px;
								line-height: 20px;
								text-align: center;
								font: normal 12px Microsoft YaHei;
								a{
									display: block;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;
								}
							}
							.price{
								height: 20px;
								margin-top: 5px;
								font-size: 14px;
								font-family: Tahoma;
								text-align: center;
								color: #ed1b2f;
								font-weight: 900;
							}
							.imag{
								width: 130px;
								height: 130px;
								margin: 15px auto 0;
								transition:transform .2s linear;
								a{
									display: block;
									img{
										width: 100%;
										height: 100%;
										transition: transform .4s ease;
									}
								}	
							}
						}	
					}
				}
				.ul3{
					width:984px;
				}
			}
			.right{
				float:left;
				ol{
					li{
						&:hover .more-right-pic{
							transform:translate(-10px,0);
						}
						.more-right{
							position: relative;
							width: 205px;
							height: 113px;
							padding: 20px;
							border-top: 1px solid #f3f3f3;
							border-left: 1px solid #f3f3f3;
							.more-right-title{
								width:100px;
								height: 34px;
								line-height: 18px;
								overflow: hidden;
								text-align:left;
								font: normal 12px Microsoft YaHei;
								a{
									display: block;
									overflow: hidden;
									text-overflow: ellipsis;
								}
							}
							.more-right-price{
								height: 20px;
								margin-top: 5px;
								font-size: 14px;
								font-family: Tahoma;
								text-align: left;
								color: #ed1b2f;
								font-weight: 900;
							}
							.more-right-pic{
								position: absolute;
								right: 30px;
								bottom: 15px;
								width: 90px;
								height: 90px;
								margin-top: 0;
								transition:transform .2s linear;
								a{
									display: block;
									img{
										width: 100%;
										height: 100%;
										transition: transform .4s ease;
									}
								}	
							}
						}	
					}
				}
			}
		}
	}
}
#shopping{
	.sc_right{
			background:#fff;
			position: fixed;
			width: 270px;
			border-left: 2px solid #f3f3f3;
			right:0px;
			right: -270px;
			top: 0;
			height: 100%;

		}
		.sc_pic{
			width: 40px;
			height: 40px;
			padding: 4px 6px;
			background: url(https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1000062320,656701501&fm=200&gp=0.jpg) #fff -8px -8px no-repeat;
			background-size: 70px 66px;
			position: relative;
			left: -52px;
			top: 75%;
			margin-top: -24px;
		}
		ul{
			margin-left: 12px;
			height:720px;
			overflow-y:auto; 
		}
		.sc_num{
			position: absolute;
			padding: 2px 8px;
			border-radius: 50%;
			background: red;
			color: #fff;
			top: -8px;
			left: 20px;
			z-index: 1;
		}
		.sc_goodsPic{
			width: 80px;
			height: 80px;
			border: 1px solid #eee;
			float: left;

		}
		.sc_goodsPic img{
			width: 100%;
			height: 100%;
		}
		.sc_goodsTitle{
			width:130px;
			height:50px;
			overflow: hidden;
			line-height: 16px;
			color: #999;
			margin-left: 20px;
			float: left;
			p{
				width:122px;
				text-overflow:ellipsis;
				overflow: hidden;

			}
		}
		.sc_goodsBtn{
			border:1px solid #fff;
			border-radius: 10%;
			background: #fc1934;
			color: #fff;
			text-align: center;
			float: left;
			line-height: 26px;
			width: 50px;
			height: 26px;
			margin-left: 20px;
			cursor: pointer;
			margin-top:4px;
			margin-right: 5px
		}
		.sc_goodsNum{
			float: left;
			line-height: 30px;
			font-size: 12px;
			margin-left: 5px;
		}
		.sc_right li{
			height: 100px;
		}
		#ball{
			width: 30px; 
			height: 30px; 
			position: absolute; 
			background-color: #fe5656;
			display: none; 
			border-radius: 50%
		}
}
#footBox{
	background:#fff;
	.foot{
	    margin: 0 auto;
   		width: 1228px;
   		.top{
   			margin: 0 auto;
			width: 1228px;
			padding: 30px 0;
			border-bottom: 1px solid #ebebeb;
			li{
				float:left;
				width: 205px;
				overflow: hidden;
				margin: 0 51px;
				.pic{
					float: left;
					width: 66px;
					height: 66px;
					margin-right: 15px;
				}
				.text{
					h2{
						margin-top: 10px;
						font-family: "Microsoft YaHei";
						font-size: 16px;
						color: #333;
					}
					h3{
						font-family: "Microsoft YaHei";
						font-size: 14px;
						color: #999;
						line-height: 26px;
					}
				}
			}
   		}
   		.cent{
   			padding: 20px 0 20px;
   			div{float:left}
			.list{
				padding-left: 15px;
				ul{
					li{
						float: left;
						display: block;
						width: 195px;
						h4{
							height: 32px;
							padding: 0 8px;
							font-size: 14px;
							color: #666;
							line-height: 32px;
							overflow: hidden;
							font-family: "Microsoft YaHei";
							color: #666;
							font-weight: bold;
						}
						h5{
						    height: 24px;
						    padding: 0 8px;
						    line-height: 24px;
						    overflow: hidden;
						    white-space: normal;
						    font-size: 12px;
						}
					}
				}
			}
			.code{
				width: 280px;
				overflow: hidden;
				margin-right: -50px;
				div{
					float: left;
					margin-right: 50px;
					line-height: 32px;
					font-size: 14px;
					font-weight: bold;
					color: #666;
					a{
						text-decoration: none;
						color: #333;
					}
				}
			}
   		}
   		.bot{
			.p1{
				color: #666;
				text-align: center;
				line-height: 100%;
				margin: 15px 0;
				a{
					margin: 0px 12px;
				}
			}
			.p2{
				color: #666;
				text-align: center;
				text-indent: 0;
				line-height: 100%;
				margin: 15px 0;
			}
			.img{
				padding: 10px 0 20px;
				text-align: center;
				font-size: 0;
				a{
					display: inline-block;
					margin: 0 4px;
					img{
						vertical-align: top;
					}
				}
			}
   		}
	}
}
