@import "base";
body{background:#f8f8f8;}
#indexBox{
	border-bottom: 1px solid #e5e5e5;
	background-color: #f4f4f4;
	line-height: 30px;
	.index{

		font-weight:550;
		font-family:"微软雅黑";
		margin: 0 auto;
		width: 1206px;
		.index-left{
			float:left;
			.index-ul{
				li{
					float:left;
					padding-right:24px;
					a{
						div{float:left;}
						div:nth-child(1){margin-top:2px;}
						div:nth-child(2){margin-left:6px;}
					}
				}

			}
		}
		$color:#ff4040;
		.index-right{
			float:right;
			.index-right-ul{
				width:372px;
				li{float:left;
					div{float: left}
				}
				.li1{float:left;
					.text{
						div:nth-of-type(1){color:$color;}
						div:nth-of-type(2) a{
							color:$color;
							&:hover{text-decoration:none;};
						}
						div:nth-of-type(3){
							margin-left:12px; 
							a{
								color:#aaaaaa;
								&:hover{color:$color;text-decoration: none}
							}
						}
					}
				}
				.li2{
					margin:0 12px 0 20px;
					div:nth-of-type(1){margin:2px 2px;height:28px;}
					div:nth-of-type(2){
						a{
							color:#aaaaaa;
							&:hover{color:$color;text-decoration: none}
						}
					}
				}
				.li3{
					&:hover{color:$color;}
					padding: 0 14px 1px;
					.li3-span{
						margin-right:6px;
						color:#aaaaaa;
							a:hover{color:$color;text-decoration: none}
						.hidden{
							border:1px solid #ddd; 
							display:none;
							z-index:10; 
							position: absolute;
							top:-2px;
							right:13.2%;
							width:88px;
							height:100px;
							ul,li{clear:both;height:30px;width:100px;}
							ul li:nth-child(2),li:nth-child(3){background:#fff;width:88px;
								a{padding-left: 12px}
							}
							ul li:nth-child(3){height:40px;}

						}
					}
				}
				.li4{
					div:nth-child(2){
						a{&:hover{color:$color;text-decoration: none}}
					}
					margin-left: 12px;
					.li4-icon{margin:4px 10px 0 -2px;}
					.li4-code{
						display:none;
						width:90px;
						height:130px;
						padding:10px;
						position:absolute;
						z-index:30;
						top:34px;
						right:6%;
						background:#fff;
						border:1px solid #ddd;
						div:nth-of-type(1){
							width:90px;
							height:40px;
							line-height:20px;
							text-align: center
							
						}
						div:nth-of-type(2){
							width:90px;
							height:90px;
							img{width:100%;}
						}
					}
				}
			}
		}
	}
}
#footBox{
	background:#fff;
	.foot{
	    margin: 0 auto;
   		width: 1228px;
   		.top{
   			margin: 0 auto;
			width: 1228px;
			padding: 30px 0;
			border-bottom: 1px solid #ebebeb;
			li{
				float:left;
				width: 205px;
				overflow: hidden;
				margin: 0 51px;
				.pic{
					float: left;
					width: 66px;
					height: 66px;
					margin-right: 15px;
				}
				.text{
					h2{
						margin-top: 10px;
						font-family: "Microsoft YaHei";
						font-size: 16px;
						color: #333;
					}
					h3{
						font-family: "Microsoft YaHei";
						font-size: 14px;
						color: #999;
						line-height: 26px;
					}
				}
			}
   		}
   		.cent{
   			padding: 20px 0 20px;
   			div{float:left}
			.list{
				padding-left: 15px;
				ul{
					li{
						float: left;
						display: block;
						width: 195px;
						h4{
							height: 32px;
							padding: 0 8px;
							font-size: 14px;
							color: #666;
							line-height: 32px;
							overflow: hidden;
							font-family: "Microsoft YaHei";
							color: #666;
							font-weight: bold;
						}
						h5{
						    height: 24px;
						    padding: 0 8px;
						    line-height: 24px;
						    overflow: hidden;
						    white-space: normal;
						    font-size: 12px;
						}
					}
				}
			}
			.code{
				width: 280px;
				overflow: hidden;
				margin-right: -50px;
				div{
					float: left;
					margin-right: 50px;
					line-height: 32px;
					font-size: 14px;
					font-weight: bold;
					color: #666;
					a{
						text-decoration: none;
						color: #333;
					}
				}
			}
   		}
   		.bot{
			.p1{
				color: #666;
				text-align: center;
				line-height: 100%;
				margin: 15px 0;
				a{
					margin: 0px 12px;
				}
			}
			.p2{
				color: #666;
				text-align: center;
				text-indent: 0;
				line-height: 100%;
				margin: 15px 0;
			}
			.img{
				padding: 10px 0 20px;
				text-align: center;
				font-size: 0;
				a{
					display: inline-block;
					margin: 0 4px;
					img{
						vertical-align: top;
					}
				}
			}
   		}
	}
}
/*cent*/
#cent{background:#f8f8f8;}
#cent .logo{width:1070px;margin:10px auto;}
#cent .logo .left{float:left;}
#cent .logo .left div{float:left;}
#cent .logo .left .logo-img{}
#cent .logo .left .logo-img a:nth-child(1){
	float: left;
	padding-top: 17px;
	width: 40px;
	height: 28px;
	margin-right: 10px;
	background: url(https://img.yihaodianimg.com/cart/shopping/pc/images/logo.png) no-repeat bottom;
} 
#cent .logo .left .logo-img a:nth-child(2){
	float: left;
	padding-top: 8px;
	width: 73px;
	height: 40px;
	margin-right: 10px;
	background: url(https://img.yihaodianimg.com/cart/shopping/pc/images/logo_txt.png) no-repeat 0 20px;
} 
#cent .logo .left .logo-title{
	float: left;
	width: 270px;
	padding-top: 18px;
	padding-left: 10px;
	line-height: 26px;
	position:relative;
}
#cent .logo .left .logo-title p{float:left;margin-left:10px;}
#cent .logo .left .logo-title ul{
	z-index: 1009;
	height: 18px;
	line-height: 16px;
	padding: 4px 0px 4px 11px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	background: #fcfbfb;
	cursor: pointer;
	margin-left:80px;
}
#cent .logo .left .logo-title ul li{float:left;}
#cent .logo .left .logo-title ul li span{margin: 0 9px;}
#cent .logo .right{
	float:right;
	width: 260px;
	height: 20px;
	padding: 5px 10px;
	margin: 15px 0;
	border: 1px solid #eceaea;
	border-radius: 5px;
	background: #fff;}
#cent .logo .right input{
	float: left;
	width: 230px;
	height: 20px;
	border: none;
	background: #fff;
	color: #666;
	outline: none;}
#cent .logo .right button{
	display: inline-block;
	width: 30px;
	height: 20px;
	text-align: center;
	color: #aaa;
	line-height: 20px;
}

/*shopping*/
#shopping{margin: 0; line-height: 1.8;font-family: "微软雅黑", "microsoft yahei", sans-serif; -webkit-text-size-adjust: 100%;  -ms-text-size-adjust: 100%;  font-size: 14px; }
#shopping .content-box{margin:10px auto;width:1000px;}
#shopping .model-list{width: 1000px;margin:4px 0; height: 100px; border: 1px solid #ddd;display: inline-block;padding:10px;background:#fff;}
#shopping .content-box .model-list div{}
#shopping .list-name{float:left;width:300px;margin-right:200px;}
#shopping .list-price{float:left;margin-right:200px;}
#shopping .list-btn-cart{float:left;}
#shopping .list-edit{display: none;}
#shopping .minus{width: 23px;height: 23px;display: inline-block;border: 1px solid #ddd;text-align: center; cursor: pointer; background: #fff;}
#shopping .num{width: 23px;height: 23px;display: inline-block;border: 1px solid #ddd; text-align: center; background: #fff;}
#shopping .add{width: 23px;height: 23px;display: inline-block;border: 1px solid #ddd;text-align: center; cursor: pointer; background: #fff;}
#shopping .list-box{border-bottom: 1px solid #ddd; padding:15px;}
#shopping .display-block{display: block;}
#shopping .display-inline-block{display: inline-block;}
#shopping .fixed-width{width: 150px; display: inline-block;}
#shopping .text-right{text-align: right;}
#shopping .settle{width:1022px;margin:0 auto;}
#shopping .settle .total-box .right{float:right;}
#shopping .total-box{border-bottom: 1px solid #ddd; padding:15px;}